body {
  font-family: Arial;
}

nav {
  border-top: 6px solid #e60000;
}
nav .notifications img {
  width: 28px;
  height: 30px;
}
nav .notifications .badge {
  top: 1px;
  left: 25px;
  font-size: 10px;
  border-radius: 50%;
}
nav .profile {
  background-color: rgba(4, 106, 114, 0.1411764706);
}
nav .profile img {
  width: 35px;
  height: 35px;
}
nav .menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
nav .menu span {
  height: 3px;
  width: 34px;
  background-color: #707070;
}

.tasks {
  margin-top: 36px;
}
.tasks .nav-tabs .nav-link {
  font-size: 18px;
  color: #fff;
  background-color: #cbcbcb;
  font-weight: bold;
  border-radius: 0;
  border-right: 1px solid #ababab;
  padding-right: 60px;
}
.tasks .nav-tabs .nav-link.border-right-0 {
  border-right: none;
}
@media (max-width: 768px) {
  .tasks .nav-tabs .nav-link {
    padding-right: 0px;
  }
}
@media (max-width: 768px) {
  .tasks .nav-tabs .nav-link {
    width: 100%;
  }
}
.tasks .nav-tabs .nav-link.active {
  background-color: #00afd8;
  border-color: #00afd8;
  color: #fff;
}
@media (max-width: 768px) {
  .tasks .nav-tabs {
    flex-direction: column;
    gap: 3px;
  }
}
.tasks .tab-pane {
  padding: 10px;
  border: 1px solid #858585;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #858585;
  background-color: #fbfbfb;
  padding: 20px;
  overflow: scroll;
  margin-top: -1px;
}
.tasks .task-card {
  border: 1px solid #ccc;
  padding: 5px 12px 5px 12px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
  min-width: 1200px;
  overflow-x: scroll;
}
.tasks .task-card.runnging {
  background-color: #e5f4ff;
}
.tasks .task-card.runnging::before {
  background-color: #0090ff;
}
.tasks .task-card.runnging .status {
  color: #007bff;
}
.tasks .task-card.complete {
  background-color: #f6fff6;
}
.tasks .task-card.complete::before {
  background-color: #12bb12;
}
.tasks .task-card.complete .status {
  color: #12bb12;
}
.tasks .task-card.queued .status {
  color: #808080;
}
.tasks .task-card.new .status {
  color: #000;
}
.tasks .task-card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 19px;
  top: 0;
  left: 0;
  background-color: #00afd8;
}
.tasks .task-info, .tasks .task-status, .tasks .task-date, .tasks .task-criteria, .tasks .task-operations, .tasks .task-progress {
  padding: 0 15px;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  flex: 1;
  position: relative;
}
.tasks .task-info:not(:first-child)::before, .tasks .task-status:not(:first-child)::before, .tasks .task-date:not(:first-child)::before, .tasks .task-criteria:not(:first-child)::before, .tasks .task-operations:not(:first-child)::before, .tasks .task-progress:not(:first-child)::before {
  content: "";
  position: absolute;
  height: 44px;
  width: 1px;
  background-color: #707070;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.tasks .task-info strong, .tasks .task-status strong, .tasks .task-date strong, .tasks .task-criteria strong, .tasks .task-operations strong, .tasks .task-progress strong {
  font-size: 12px;
  line-height: 14px;
  color: #aaaaaa;
}
.tasks .task-info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.tasks .task-info .text-muted {
  font-size: 10px;
  color: #a2a2a2;
}
.tasks .task-status {
  color: #aaaaaa;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 12px;
}
.tasks .task-status .text {
  display: flex;
  flex-direction: column;
}
.tasks .task-status img {
  width: 28px;
  height: auto;
}
.tasks .task-status .status {
  font-size: 18px;
  line-height: 15px;
}
.tasks .task-date {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}
.tasks .task-date img {
  width: 27px;
  height: auto;
}
.tasks .task-date .text {
  display: flex;
  flex-direction: column;
}
.tasks .task-date .text span {
  font-size: 12px;
  color: #aaa;
}
.tasks .task-date .date {
  font-size: 14px;
}
.tasks .task-date i {
  margin-right: 5px;
}
.tasks .task-criteria, .tasks .task-operations {
  color: #000;
  display: flex;
  flex-direction: column;
}
.tasks .task-criteria .form-group, .tasks .task-operations .form-group {
  display: flex;
  align-items: center;
  gap: 3px;
}
.tasks .task-criteria a, .tasks .task-operations a {
  color: #aaa;
}
.tasks .task-progress {
  display: flex;
  gap: 35px;
  font-size: 10px;
}
.tasks .task-progress .bars {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.tasks .task-progress .progress {
  height: 12px;
  border-radius: 0;
  height: 12px;
  font-size: 10px;
}
.tasks .task-progress .progress:nth-of-type(1) {
  border: 1px solid #12bb12;
}
.tasks .task-progress .progress:nth-of-type(1) .progress-bar {
  background-color: #12bb12;
}
.tasks .task-progress .progress:nth-of-type(2) {
  border: 1px solid #0090ff;
}
.tasks .task-progress .progress:nth-of-type(2) .progress-bar {
  background-color: #0090ff;
}
.tasks .task-progress .progress:nth-of-type(3) {
  border: 1px solid #f57277;
}
.tasks .task-progress .progress:nth-of-type(3) .progress-bar {
  background-color: #f57277;
}
.tasks .progress-bar {
  width: 50px;
  height: 10px;
  margin-right: 5px;
}
.tasks .badge-scheduled {
  background-color: #b4b4b4;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
}
.tasks .action {
  display: flex;
  align-items: center;
  gap: 16px;
}
.tasks .action img {
  width: 10px;
  height: auto;
}

.triangle {
  border-color: transparent transparent #cbcbcb transparent;
  border-width: 0px 81px 38px 0px;
  border-style: solid;
}

footer {
  color: #7d7d7d;
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
}
footer img {
  width: 18px;
  height: auto;
}/*# sourceMappingURL=styles.css.map */